@font-face {
    font-family:'Lexend';
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf);
}

html{
    font-family: 'Lexend' !important;
    font-size: 14px;
}

.firstModal{
    text-align: center;

}

.hed {
    display: flex;
    position: relative;
    /* background: #052d56; */
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    /* height: 50vh; */
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    color: white;
}

.title{
    position: relative;
    left: 5%;
    text-align: center;
    margin-top: 1%;
}

.imgPerfil{
    width: 10%;
    border-radius: 10%;
    position: relative;
    left: 15%;    
}

.navigation{
    position: relative;
    left: 45%;
}

.nav{
    list-style:none;
    margin:0;
    padding:20px;
    text-align:center;
}

.left{
    display: grid !important;
}

.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
    font-size: large;
}

/* @keyframes bg-animation {
    0% { background-color: #0b1529; }
    50% { background-color: #47577a; }
    100% { background-color: #0b1529; }
} */

.asideLeft{
    width: 15%;
    text-align: center;
    position: relative;
    float: left;
    color: white;
    border-radius: 0%;
    border: outset 5px;
    /* animation: bg-animation 3s infinite; */
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.dataPage{
    width: 59%;
    float: left;
    text-align: center
}

.asideRight{
    width: 25%;
    text-align: center;
    position: relative;
    float: right;
    border: outset 5px;
    border-radius: 0%;
    color: white;
    /* background: #eaeff4; */
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.imgMenu{
    background: white;
    border-radius: 30%;
    padding: inherit !important;
}

.imgSize{
    margin: -14%;
}

.footStyle{
    background:#052d56;
    position: fixed;
    bottom: 0;
    color: white;
    border-radius: 10%;
    height: 40px;
}

.footNav{
    padding: initial;
}

.footNav a{
    font-size: 12px;
}

h3{
    text-align: left;
}

.imgProyect{
    width: 350px;
    height: 350px;
}

/* Responsive */
@media(max-width: 1262px){
    .navigation {
        position: relative;
        left: 35%;
    }
}

@media(max-width: 1075px){
    .navigation {
        position: relative;
        left: 25%;
    }
}

@media(max-width: 930px){
    .navigation {
        position: relative;
        left: 25%;
    }
}